[submodule "src/FAST_LIO"]
	path = src/FAST_LIO
	url = git@github.com:lucierynd/FAST_LIO.git
[submodule "src/LiDAR_IMU_Init"]
	path = src/LiDAR_IMU_Init
	url = git@github.com:lucierynd/LiDAR_IMU_Init.git
